.happyResult {
  background-color: rgb(22, 105, 116);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: 50%;
  min-width: 300px;
  margin: 1em auto;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.happyResult h2,
.happyResult p {
  color: yellow;
  font-size: larger;
  font-weight: bolder;
}

.sadResult {
  background-color: rgb(73, 71, 71);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: 50%;
  min-width: 300px;
  margin: 1em auto;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.sadResult h2,
.sadResult p {
  color: rgb(238, 237, 243);
  font-size: larger;
  font-weight: bolder;
}

.notValid {
  background-color: rgb(216, 30, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: 50%;
  min-width: 300px;
  margin: 1em auto;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.notValid p {
  color: rgb(208, 208, 224);
  font-size: larger;
  font-weight: bolder;
}
